.bscode-explorer-container {
	height: 93.75vh;
}

.bscode-explorer-options {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.bscode-explorer-title {
	display: flex;
	justify-content: space-around;
}

.bscode-explorer-dots {
	border-radius: 10px;
	padding: 5px;
}

.bscode-explorer-dots:hover {
	cursor: pointer;
	background-color: var(--color-lg);
}
