#bscode-container-area * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 1.2rem;
}

.bs-js {
	color: rgba(203, 203, 65, 1);
	font-weight: bold;
}
