:root {
	--color-lb : rgba(18, 146, 231, .8);
	--color-lb-t : rgba(18, 146, 231, .5);
	--color-lg-t : rgba(60, 60, 60, .5);
	--color-lg : rgba(60, 60, 60);
	--color-g: rgba(37, 37, 38);
	--color-dg: rgba(80, 80, 80);
}

#bscode-container-area * {
    -webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
		 -moz-user-select: none;
		  -ms-user-select: none;
			  user-select: none;
	font-size: 1.2rem;
}