.bscode-explorer-component-container {
	display: flex;
	cursor: pointer;
	gap: 10px;
}

.bscode-explorer-highlight:focus {
	border: 1px solid blue;
	background-color: grey;
}

.bscode-explorer-expander {
	overflow: scroll;
}

.explorer-option-title {
	background-color: grey;
	color: white;
}