.basic-application-container {
	display: flex;
	flex-direction: column;
	height: 66vh;
	width: 66vw;
    border-radius: 10px;
	position:fixed;
}

.basic-application-topbar {
	display: flex;
	justify-content: space-between;
	background-color: white;
	border-radius: 10px 10px 0 0;
}

.basic-application-topbar-sub-container {
	display: flex;
}

.basic-application-button, .basic-application-exit {
    padding: .5em;
}

.basic-application-button:hover {
	background-color: lightgray;
}

.basic-application-exit:hover {
	background-color: red;
    border-radius: 0 10px 0 0;
}
