.bscode-topbar-container {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	height: 6.25vh;
	background-color: var(--color-lg);
	justify-content: center;
	align-items: center;
}

.bscode-topbar-options {
	display: flex;
	gap: 10px;
	width: 100%;
}

.bscode-topbar-right {
	justify-content: flex-end;
}

.bscode-topbar-middle {
	justify-content: center;
}
